.about-container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-img {
  position: relative;
  width: 600px;
  height: 400px;
  background-image: url("img/pngimg.com - question_mark_PNG129.png");
  background-size: cover;


}

.readme-container {
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #007bff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tittle-h1 {
  color: white;
}
