<section class="about-container">
<div class="question-img"></div>
  <div class="readme-container">
    <header>
      <h1 class="tittle-h1">John Holdings Hotel Website</h1>
    </header>

    <section>
      <h2>Overview</h2>
      <p>
        Welcome to the John Holdings Hotel Website, my first Angular project and a personal learning journey in web development. This project represents a hotel website where I've applied fundamental concepts, including page routing, connecting to a Java backend server, fetching and displaying data from a database, implementing admin login functionality, and creating other pages to simulate a realistic hotel site.
      </p>

      <h2>Technologies Used</h2>
      <ul>
        <li><strong>Angular:</strong> The frontend of the website is built using Angular, a powerful JavaScript framework for building dynamic web applications.</li>
        <li><strong>Java Spring:</strong> The backend server is developed with Java Spring, providing RESTful APIs for communication between the frontend and the database.</li>
        <li><strong>Database:</strong> The application interacts with a database to store and retrieve data for dynamic content on the website.</li>
      </ul>

      <h2>Key Features</h2>
      <ol>
        <li><strong>Page Routing:</strong> Implemented page routing to navigate seamlessly between different sections of the website.</li>
        <li><strong>Integration with Java Backend:</strong> Connected the Angular frontend to a Java Spring backend server, ensuring smooth communication.</li>
        <li><strong>Data Retrieval and Display:</strong> Utilized Angular services to fetch and display dynamic content from the database.</li>
        <li><strong>Admin Login Functionality:</strong> Implemented a secure admin login system to access privileged areas of the site.</li>
        <li><strong>Realistic Page Structure:</strong> Created additional pages to simulate a comprehensive hotel website, including booking, about, and gallery pages.</li>
      </ol>

      <h2>Note</h2>
      <p>
        This project is part of my ongoing learning process, and I welcome any feedback or suggestions for improvement. Feel free to explore the code and adapt it to your own learning journey.
      </p>

      <p>Happy coding! 🚀</p>
    </section>
  </div>
</section>
