<section class="gallery-container">

  <div class="gallery-block">
      <div class="image-block-1">
        <div id="block1-image1"></div>
        <div id="block1-image2"></div>
        <div id="block1-image3"></div>
      </div>
      <div class="image-block-2">
        <div id="block2-image1"></div>
        <div id="block2-text1">
          <h1>John Holdings</h1>
          <hr>
          <p>Welcome to John Holdings Hotel, a haven of elegance and comfort nestled
            in the heart of the city. With modern design and meticulous attention to
            every detail, our hotel offers an unforgettable experience. From
            spacious and tastefully decorated rooms to luxurious amenities, we are dedicated
            to providing you with a relaxing and refined stay. With a welcoming team
            and impeccable services, we invite you to enjoy a distinctive atmosphere and
            create memorable moments at John Holdings.</p>
        </div>
        <div id="block2-image2"></div>
      </div>
      <div class="image-block-3">
        <div id="block3-text1">
          <p align="right">Add a touch of elegance to your travel experience at the John Holdings Hotel, an oasis of refinement and hospitality. Nestled in a picturesque setting, our hotel welcomes you with a subtle blend of luxury and comfort. Our spacious and tastefully decorated rooms await you for moments of relaxation. Every detail is carefully crafted to provide you with a memorable stay.
            <br>
            <br>
            With a variety of amenities, from a sophisticated restaurant catering to the most discerning gastronomic tastes to modern meeting spaces for special events, John Holdings Hotel aims to fulfill all your needs and desires. A dedicated team of professionals is ready to ensure that every moment of your stay is perfectly orchestrated.
            <br>
            <br>
            Whether you are on a business trip or a leisurely vacation, we are here to offer you an authentic and memorable experience. We invite you to be captivated by our charm and enjoy a truly exceptional journey at John Holdings Hotel!</p>
        </div>
        <div class="block3-total-section">
          <div id="block3-image1"></div>
          <div class="block3-section1">
            <div id="block3-image2"></div>
            <div id="block3-image3"></div>
          </div>
          <div id="block3-image4"></div>
        </div>
      </div>
  </div>


</section>
